
{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron container-fluid row flex" >
        <h1>My Reviews</h1>

        <div class="row">
            {% for rating in rating_data %}
                <div class="col-md-2 mb-4">
                    <a href="{{ url_for('movies.movie_details', movie_id=rating.movie_id) }}">        
                        <img src="{{ rating.poster_path }}" alt="{{ rating.id }}" class="rounded galleryImg img-thumbnail" >
                    </a>
                    {{ rating.title }} - {{ rating.year.strftime('%Y-%m-%d') }}
                    <br>
                    <br>
                    Score: {{ rating.rating }} out of 5
                    <br>
                    Review: {{ rating.review }}  
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}